body {
  margin-left: 50px;
  margin-right: 50px;
  padding: 0;
  min-height: 830px;
  max-height: 1472px;
  box-sizing: border-box;
}

main {
  width: 100%;
  margin-top: -50px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(0, 136, 204);
}

a:hover {
  text-decoration: underline;
}

/* mainContainer */

.mainContainer {
  background-image: url("img/your_verse_hero.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 590px;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  cursor: pointer;
}

.navbar {
  width: 65%;
  margin-top: 30px;
  padding-left: 200px;
  flex-direction: row;
}

.gradlink-style,
.gradlinkwithouthover-style {
  height: 20px;
  width: 100px;
  margin-right: -5px;
  margin-top: 110px;
  padding: 6px 10px 5px 10px;
  background-color: rgb(43, 42, 42);
  border: 1px solid rgb(153, 152, 152);
  border-radius: 5px;
  font-size: 13px;
  text-align: center;
  font-family: sans-serif;
  background-image: linear-gradient(to top, rgb(153, 152, 152) 0%, #4b4949 51%, rgb(167, 164, 164) 100%);
}

.gradlinkwithouthover-style {
  width: 140px;
}

.gradlink-style:hover {
  background-image: linear-gradient(to top, #bebbbb 0%, #464646 51%, #1b1b1b 100%);
}

.appleiconstyle {
  font-size: 18px;
}

.gradlink-style a,
.ilinksearch {
  color: white;
}

.verse-style {
  font-size: 70px;
  font-weight: 100;
  margin-top: 40px;
}

.verseDetails-style {
  margin-top: -70px;
  font-size: 34px;
}

.verseDetails1-style {
  font-size: 34px;
  margin-top: -25px;
}

.verselink-style a {
  font-size: 25px;
  font-weight: lighter;
}

.searchbtn {
  width: 120px;
  height: auto;
  border: 1px solid rgb(180, 176, 176);
  border-radius: 12px;
  background-image: linear-gradient(to top, rgb(180, 176, 176) 0%, #333232 51%, rgb(194, 194, 194) 100%);
}

.ilinksearch {
  position: absolute;
  font-size: 12px;
  padding-left: 5px;
  padding-top: 5px;
}

/* imageContainer */

.imageContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding-right: 0%;
}

.image-styling {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.gradlink-style:hover,
.imageContainer:hover {
  cursor: pointer;
}

/* footer */

.footer-style {
  width: 90%;
  margin-right: 150px;
  font-size: 10px;
}

.first-footer {
  justify-content: space-between;
  margin-top: 15px;
}

.first-footer p {
  color: #464646;
}

.first-footer a {
  padding: 5px;
}

.border {
  border-right: 1px solid rgb(184, 181, 181);
}

.border1 {
  border-right: 1px solid rgb(184, 181, 181);
  padding-right: 4px;
}

.usa-logo {
  padding-top: -10px;
  border-right: none;
  height: 15px;
}

.second-footer p {
  color: #464646;
  margin-top: -10px;
  margin-bottom: 15px;
}

.footerpadding {
  padding-left: 100px;
}

/* commonclasses */

.class1 {
  display: flex;
}

.class2 {
  justify-content: center;
}

.class3 {
  color: rgb(240, 236, 236);
}

.class4 {
  font-family: sans-serif, 'Open Sans';
}

.class5 {
  flex-direction: column;
}

.class6 {
  align-content: center;
}
